!!! 1.1
%html{ "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Test Page 1
    %link{ :href => "screen.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }
    /[if IE]
      %link{ :href => "ie.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }
   
    %style{ :type => "text/css" }
      :sass
        #airlock
          :margin 1em
      
  %body
    #airlock
      %h1 This is a test page
    
      %p.success An example success flash.
      %p.notice An example notice flash.
      %p.error An example error flash.
    
      %h2 Heading 2
    
      %p   
        Lorem ipsum dolor sit amet, 
        %a{ :href => "http://google.com/" } consectetur adipisicing 
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        %a{ :href => "http://somewhereunknown.com/" } voluptate velit esse 
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
    
      %h3 Text styles (heading 3)
    
      %ul
        %li
          &lt;strong&gt;
          %strong strong tag
          &lt;/strong&gt;
        %li
          &lt;em&gt;
          %em em tag
          &lt;/em&gt;
        %li
          &lt;ins&gt;
          %ins insert tag
          &lt;/ins&gt;
        %li
          &lt;del&gt;
          %del delete tag
          &lt;/del&gt;
        %li
          %span.added Added text (class=added)
        %li
          %span.removed Removed text (class=removed)
        %li
          %span.highlight Highlighted text
        %li 
          Some 
          %span.quiet quiet text
          (class=quiet)
        %li
          Some
          %span.loud loud text
          (class=loud)
        %li
          Some
          %span.large large text
          (class=large)
        %li
          Some
          %span.small small text
          (class=small)
        
      %h3 Some buttons (heading 3)
    
      %p.buttons
        %button.positive{ :type => "submit" }
          %img{ :src => "images/icons/tick.png", :alt => "" } 
          Save

        %a{ :href => "#" }
          %img{ :src => "images/icons/textfield_key.png", :alt => "" } 
          Change Password

        %a.negative{ :href => "#" }
          %img{ :src => "images/icons/cross.png", :alt => "" }
          Cancel

        %a.positive{ :href => "#" }
          %img{ :src => "images/icons/cake.png", :alt => "" }
          Cake!
      
      %h3 Smaller headings
    
      %h4 Heading 4
    
      %p Ut enim ad minim veniam, quis nostrud exercitation.
    
      %h5 Heading 5
    
      %p Ut enim ad minim veniam, quis nostrud exercitation.
    
      %h6 Heading 6
    
      %p Ut enim ad minim veniam, quis nostrud exercitation.

      %h3 An example form, with a fieldset
    
      %form
        %fieldset
          %legend Enter your details:
        
          %dl
            %dt
              %label Name:
            %dd
              %input{ :type => 'text' }
      
            %dt 
              %label Email:
            %dd
              %input{ :type => 'text' } 
              %img{ :src => "images/icons/email.png", :alt => "" }
            %dd.notes
              We even correctly validate emails with '+' in, unlike 99% of the web!
      
            %dt
              %label Description:
            %dd
              %textarea
      
            %dt
            %dd.buttons
              %button.positive{ :type => 'submit' }
                %img{ :src => "images/icons/tick.png", :alt => "" }
                Submit
              %a{ :href => "#" }
                %img{ :src => "images/icons/cog.png", :alt => "" }
                Check form
              %a.negative.secondary{ :href => "#" }
                %img{ :src => "images/icons/cross.png", :alt => "" }
                Cancel
          
          %p Correctly cleared after the end of the form.
  
      %h3 Rails form error styles
    
      %form  
        #errorExplanation
          %h2 Form could not be submitted
          %p Some elements of the submitted form were unable to pass our checks.
          %ul
            %li Name can't be blank.
            %li Email must be a valid email address.
          %p Some elements of the submitted form were unable to pass our checks.

        %dl
          %dt
            %label.fieldWithErrors Name:
          %dd
            %input.fieldWithErrors{ :type => 'text' }

          %dt 
            %label.fieldWithErrors Email:
          %dd
            %input.fieldWithErrors{ :type => 'text' } 
            %img{ :src => "images/icons/email.png", :alt => "" }
          %dd.notes
            We even correctly validate emails with '+' in, unlike 99% of the web!

          %dt
          %dd.buttons
            %button.positive{ :type => 'submit' }
              %img{ :src => "images/icons/tick.png", :alt => "" }
              Submit
            %a{ :href => "#" }
              %img{ :src => "images/icons/cog.png", :alt => "" }
              Check form
            %a.negative.secondary{ :href => "#" }
              %img{ :src => "images/icons/cross.png", :alt => "" }
              Cancel

      %h3 Code samples

      %pre= File.read('sass/mixins.sass')